{% extends 'base.html' %}
{% load static %}

{% block title %} About {% endblock %}
{% block body_block %}
<div class="hero-unit">
        <h2>About!</h2>
	This page is about IMG gaming. Within the IMG gaming section you can add and read, IMG Gaming reports.
<p>
	This website is a work in progress which will allow the Live Opeartions supervisor to be able to do their job more smoothly. Things will slowly be added over time to increase the functionality and usefulness. If you have any suggestions or spotted any errors contact john.hopkins@img.com<br />
        <a href='/IMGGaming/'>Index</a><br />
</div>
{% endblock %}
