{% extends 'IMGGaming/base.html' %}

{% load static %}
{% block title %}Add Report{% endblock %}
{% block body_block %}
<div class="hero-unit">
    <h2>Add a Report</h2>
    <br/>
    <div class="container">


{% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

<form class="span6" id="report_form" method="post" action="/IMGGaming/add_report/">
        <table>
            {{ form.as_table }}
        </table>
        {% csrf_token %}
            <br/>
            <button class="btn btn-primary" type="submit" name="submit">Add Report</button>
        </form>
    </div>
</div>
{% endblock %}
