{% extends 'IMGGaming/base.html' %}

{% load static %}
{% block title %}Add Report{% endblock %}
{% block body_block %}
<div class="hero-unit">
    <h2>Add a Report</h2>
	<div class="container">
        {% if form.errors %}
            <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
            </p>
        {% endif %}

        <form id="report_form" method="post" action="/IMGGaming/add_report/">
	    <table>
                {% for field in form.visible_fields %}
		    <tr><td>{{field.label}}: </td></tr><tr><td>{{ field }}</td></tr>
                {% endfor %}
            </table>
            {% csrf_token %}
            <br/>
            <button class="btn btn-primary" type="submit" name="submit">Add Report</button>
        </form>
    </div>
</div>
{% endblock %}
