{% extends 'IMGGaming/base.html' %}

{% load static %}

	{% block title %}IMG Gaming{% endblock %}

{% block body_block %}

<div class="hero-unit">
	<h2>IMG Gaming</h2>
</div>

<div class="row-fluid">

	<h2>Latest Reports</h2>
        {% if reports %}
            <ul>
		{% for report in reports %}
		<li><a href="/IMGGaming/report/{{ report.event }}">{{ report.event }}</a></li>
                {% endfor %}
	    </ul>
	{% else %}
	    <strong>There are no reports present.</strong>
	{% endif %}
</div>

{% endblock %}
