<!DOCTYPE html>
<html>
    <head>
        <title>IMG Gaming</title>
    </head>

    <body>
        <h1>Login to IMG Gaming</h1>

        <form id="login_form" method="post" action="/IMGGaming/login/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50"/>
            <br/>
            Password: <input type="password" name="password" value="" size="50"/>
            <br/>

            <input type="submit" value="submit"/>
        </form>

    </body>
</html>
